/* GOOGLE FONT */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  /* COLORS */
  --color-neutral: #fcf8f5;
  --color-sage: #a3b99b;
  --color-blush: #ffbee1;
  --color-lavender: #d2c7e0;
  --color-champagne: #ffd786;
  --color-gray: #8a8887;
  --color-dark: #3f4a3c;

  /* TYPOGRAPHY */
  --font-cormorant: "Cormorant Garamond", serif;
  --font-raleway: "Raleway", sans-serif;
}

html {
  @apply scroll-smooth;
}

body {
  @apply bg-neutral text-dark font-raleway antialiased;
}

@layer utilities {
  p {
    @apply font-raleway;
  }
  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .primary-btn {
    @apply px-8 py-3 rounded-full bg-sage text-neutral border border-sage uppercase tracking-[0.2em] text-sm font-medium transition-all duration-300 hover:bg-dark hover:border-dark;
  }

  .secondary-btn {
    @apply px-8 py-3 rounded-full bg-transparent text-neutral border border-neutral uppercase tracking-[0.2em] text-sm font-medium transition-all duration-300 hover:bg-neutral hover:text-dark;
  }
}

.products-slider {
  --swiper-navigation-color: var(--color-blush);
  --swiper-pagination-color: var(--color-sage);
}
